.box-container{
    border: 1px solid #d5d5d5;
    background-color: #f1f1f1;
    border-radius: 4px;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;

}
.box-container p{
    text-align: start;

}